{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{data.name}}</h1>
        <p class="col-md-8 fs-4">Project is designed to show information from a controller.</p>
        <a class="btn btn-lg btn-primary" href="/sensor" role="button">Sensor data >></a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">&nbsp;</td>
            <th scope="col">&nbsp;</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>App</td>
            <td>{{data.name}}</td>
          </tr>
          <tr>
            <td>University</td>
            <td>{{data.university}}</td>
          </tr>            
          <tr>
            <td>Class</td>
            <td>{{data.class}}</td>
          </tr>  
          <tr>
            <td>Instructor</td>
            <td>{{data.instructor}} ({{data.title}})</td>
          </tr> 
          <tr>
            <td>Author</td>
            <td>{{data.author}}</td>
          </tr>                                        
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
